extends layout
block content
    h1.headline #{title}
    table(class='table')
        thead(class='grey lighten-15')
            tr
                th(scope='col') #
                th(scope='col') Website
                th(scope='col').hash-text Hash
                th(scope='col') PDF
                th(scope='col') HTML
        tbody
            - var index = 1
            each website in websites
                tr
                    th #{index}
                    td #{website.website}
                    td.hash-text
                        div #{website.hash}
                    td
                        a(href=website.pdf)
                            button(type='button' class='btn btn-primary') PDF Download
                    td
                        a(href=website.html download)
                            button(type='button' class='btn btn-secondary') HTML Download
                - index = index +1